<?xml version="1.0" encoding="UTF-8"?>
<!-- 查找最新的schemaLocation 访问 http://www.springframework.org/schema/ -->
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:jaxws="http://cxf.apache.org/jaxws" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="http://www.springframework.org/schema/aop   
        http://www.springframework.org/schema/aop/spring-aop-4.0.xsd   
        http://www.springframework.org/schema/beans   
        http://www.springframework.org/schema/beans/spring-beans-4.0.xsd   
        http://www.springframework.org/schema/context   
        http://www.springframework.org/schema/context/spring-context-4.0.xsd
        http://www.springframework.org/schema/task   
        http://www.springframework.org/schema/task/spring-task-4.0.xsd
        http://cxf.apache.org/jaxws 
        http://cxf.apache.org/schemas/jaxws.xsd">

	<aop:aspectj-autoproxy proxy-target-class="true" />

	<!-- 配置扫描路径 -->
	<context:component-scan base-package="com.bluebirdme">
		<context:exclude-filter type="annotation"
			expression="org.springframework.stereotype.Controller" />
	</context:component-scan>

	<import resource="spring-ds-*.xml" />

	<bean class="com.bluebirdme.core.system.spring.SpringContext"
		lazy-init="false" scope="singleton"></bean>
		
	 <bean class="com.bluebirdme.core.system.spring.ws.WebServiceExporter">
        <property name="basePath" value="http://192.168.200.90:8888/ws/" />
    </bean>
    
    <import resource="spring-activemq.xml"/>
    <import resource="spring-schedule.xml"/>
</beans>  