
html,body {
	
	font-family: 'Montserrat', sans-serif;

	background-size: 100% 100%;
	background-color: #ffffff;
}

.login-font {
		font-family: 'Open Sans', arial;
		-webkit-font-smoothing: antialiased;
		font-weight: 700;
		color: #000000;
	}



 *::-webkit-input-placeholder {
	color: black;
}

input:-webkit-autofill {
	-webkit-text-fill-color: black;
}

input:-webkit-autofill,input:-webkit-autofill:hover,input:-webkit-autofill:focus,input:-webkit-autofill:active
	{
	-webkit-transition-delay: 99999s;
	-webkit-transition: color 99999s ease-out, background-color 99999s
		ease-out;
}


.login_title {
   left: 200px;
   top:  50px;
    margin: auto;
    width: 320px;
    height: 50px;
    position: absolute;
    background: url("../images/logo.png");
    text-align: left;
    background-repeat: no-repeat;
    
}
.login_form_block {
	left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 550px;
    height: 360px;
    position: absolute;
    background: url("../images/16.jpg");
    text-align: center;
    border-radius: 2px;
    box-shadow: 1px 4px 13px 1px grey;
}

.field {
	width: 300px;
	height: 48px;
	background: #d4d4d4;
	border: none;
	outline: none;
	padding: 5px;
	font-size: 22px;
	color: black;
	vertical-align: middle;
}

.logo {
	background: url("../images/yishumes.png");
	width: 390px;
	height: 100px;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	margin: 0 auto;
	padding-top: 20px;
}

.logo1 {
	background: url("../images/logo.png");
	width: 500px;
	height: 100px;
	Z-index :10;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	padding-top: 10px;
	padding-left:15px;
}

.inputRow {
	font-size: 16px;
	width: 400px;
	background: #dadada00;
	margin: 0 auto;
	height: 50px;
	line-height: 50px;
}

.inputLabel {
	height: 48px;
	line-height: 48px;
	width: 80px;
	float: left;
	border-radius: 9px 0px 0px 9px;
	display: inline-block;
	font-family: fantasy;
	font-size: 22px;
	vertical-align: middle;
	padding-left: 30px;
	text-align: left;
}

.btn {
	width: 100px;
	height: 35px;
	background: #9E9E9E;
	font-size: 17px;
	border: none;
	margin: 5px;
	outline: none;
	color: white;
}

.btn:hover {
	background: #a2a2a2;
}

.btn:active {
	background: #b5b5b5;
	color: #5f5f5f;
}



.textbox {
	background: #c3c3c35c;
    border: none;
}

.textbox .textbox-text {
	background: #ffffff00;
}

.combobox-item-selected {
    background-color: #6b6b6b54;
    color: #000000; 
}
 


