html,body {
    margin: 0;
}

*::-webkit-scrollbar {
    width: 15px;
    height: 15px;
}

*::-webkit-scrollbar-corner,*::-webkit-scrollbar-resizer,*::-webkit-scrollbar-button
    {
    background: #fff;
}

*::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
}

*::-webkit-scrollbar-corner,*::-webkit-scrollbar-resizer,*::-webkit-scrollbar-button
    {
    background: white;
}

*::-webkit-scrollbar-thumb {
    background: #6790d2;
    /*  border-radius: 15px; */
}

*::-webkit-scrollbar-track {
    background: #f7f7f7;
}

*::-webkit-input-placeholder {
    color: black;
}

input:-webkit-autofill {
    -webkit-text-fill-color: black;
}

input:-webkit-autofill,input:-webkit-autofill:hover,input:-webkit-autofill:focus,input:-webkit-autofill:active
    {
    -webkit-transition-delay: 99999s;
    -webkit-transition: color 99999s ease-out, background-color 99999s
        ease-out;
}
/* 
input[type=radio],input[type=checkbox] {
    display: inline-block;
    vertical-align: middle;
    width: 17px;
    height: 17px;
    -webkit-appearance: none;
    background-color: transparent;
    outline: 0 !important;
    line-height: 20px;
    color: #d8d8d8;
}

input[type=radio]:after {
    content: "";
    display: block;
    width: 17px;
    height: 17px;
    border-radius: 17px;
    text-align: center;
    line-height: 12px;
    font-size: 8px;
    color: #fff;
    border: 3px solid #9c9c9c;
    background-color: #fff;
    box-sizing: border-box;
}

input[type=radio]:checked:after {
    content: "✔";
    border: 3px solid #9c9c9c;
    background-color: #bb0b0b;
}

input[type=checkbox]:after {
    content: "";
    display: block;
    width: 17px;
    height: 17px;
    border-radius: 17px;
    text-align: center;
    border: 3px solid #9c9c9c;
    background-color: white;
    box-sizing: border-box;
}

input[type=checkbox]:checked:after {
    border: 3px solid #607D8B;
    background-color: #8ac34a;
} */
.tabs-header-plain .tabs-tool {
    height: 33px !important;
    background: linear-gradient(to bottom, #F8F8F8 0, #eee 100%);
}

.tabs-tool .l-btn {
    margin-top: 0px;
    border: 1px solid #e0ecff !important;
}

.tabs-tool .l-btn:hover {
    background: linear-gradient(to bottom, #F8F8F8 0, #eee 100%) !important;
}

.l-btn-focus {
    outline: none;
}

.l-btn {
    border-radius: 2px;
    height: 22px;
    margin: 1px;
    /* border: 1px solid #6f6f6f !important; */
    /* box-shadow: 0px 0px 5px #607D8B; */
}

.l-btn:hover {
    background: #f1f1f1 !important;
    border: 1px solid #d0d0d0;
}

.l-btn-text {
    line-height: 22px;
    font-size: 12px;
}

.form-row {
    margin: 5px;
}

.form {
    padding: 5px;
}

.datagrid-cell,.datagrid-cell-group,.datagrid-header-rownumber,.datagrid-cell-rownumber
    {
    font-size: 12px;
}

/* .datagrid-row-selected {
    background: #F44336;
    color: #fff;
} */
.ztree * {
    font-size: 14px;
}

.textbox {
    border-radius: 0;
}

.combobox-item-hover {
    background-color: #adccfd;
}

.l-btn-plain:hover {
    padding: 1px !important;
}

.item {
    padding-left: 0;
    margin: 0;
}

.items {
    list-style-type: none;
    padding: 5px;
    background: #f6faff;
    border: none;
    border-bottom: 1px solid #95b8e7;
}

.items:hover {
    background: #eff6ff;
}

.combobox-item, .combobox-group, .combobox-stick {
    font-size: 12px;
    padding: 1px 4px;
    line-height: 20px;
}
.tabs-panels {
    padding: 2px;
}